body{
    background-color: #4a4747;
    font-size: 2em;
    font-family: Arial, sans-serif;
   
}

header{
    background-color: #3b15d6;
}
h1{
    color: #200505;
    background-color: #450e0e;
    font-size: 2em;
    font-family: "Betania Patmos", cursive;
    font-weight: 600;
    font-style: normal;
}
h2{
    color: #0c0b0b;
    font-size: 1em;
    font-family: "Betania Patmos", cursive;
    font-weight: 600;
    font-style: normal;
}
